@container-width:   408px;
@container-height:  408px;

@cell-width:   102px;
@cell-height:  102px;
@cell-color:   #333;

.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}

.gradient(@start, @end) {
  background: @end;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, @start), color-stop(100%, @end));
  background: -moz-linear-gradient(top, @start 0%, @end 100%);
  background: linear-gradient(top, @start 0%, @end 100%);
}

.box-shadow(@x: 1px, @y: 1px, @blur: 10px, @color: rgba(0, 0, 0, 0.3)) {
  @arguments: @x @y @blur @color;
  -webkit-box-shadow: @arguments;
  -moz-box-shadow:    @arguments;
  box-shadow:         @arguments;
}

.inset-box-shadow(@x: 1px, @y: 1px, @blur: 10px, @color: rgba(0, 0, 0, 0.3)) {
  @arguments: @x @y @blur @color;
  -webkit-box-shadow: inset @arguments;
  -moz-box-shadow:    inset @arguments;
  box-shadow:         inset @arguments;
}

.center(@width, @height) {
  position: absolute;

  height: @height;
  width:  @width;

  top:  50%;
  left: 50%;

  margin-top:  @height / -2;
  margin-left: @width  / -2;
}

.cell(@width, @height, @color) {
  //.border-radius(4px);

  border: 2px solid @color;

  width:  @width - 10 - 4;
  height: @height - 10 - 4;

  margin: 5px;

  float: left;
}

body {
  background: #1c1c1c url(/images/background.png);
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h1 {
  font-family: "purista-web-1", "purista-web-2", sans-serif;
  font-size: 20px;
}

ul.pattern {
  li {
    &.gain-25 {
      @color: #f00;
      .gradient(lighten(@color, 5%), darken(@color, 5%));
    }

    &.gain-50 {
      @color: #0f0;
      .gradient(lighten(@color, 5%), darken(@color, 5%));
    }

    &.gain-75 {
      @color: #00f;
      .gradient(lighten(@color, 5%), darken(@color, 5%));
    }

    &.gain-100 {
      @color: #f78e27;
      .gradient(lighten(@color, 5%), darken(@color, 5%));
    }
  }
}

#container {
  .center(@container-width, @container-height);
  .box-shadow;

  > header {
    background: black;
    color: white;
    width:  100%;
    padding: 5px;
  }

  > ul.kit {
    //.border-radius(10px);

    background: black;
    overflow: hidden;
    list-style: none;

    width:  100%;
    height: 100%;

    padding: 5px;

    > li {
      .cell(@cell-width, @cell-height, @cell-color);

      cursor: pointer;

      -webkit-transition: box-shadow 0.1s ease-out;

      &.active {
        .inset-box-shadow(0, 0, 15px, white);
      }

      &:hover {
        .cell(@cell-width, @cell-height, white);
      }

      > ul.pattern {
        overflow: hidden;
        list-style: none;

        width:  100%;
        height: 100%;

        padding: 2px;

        > li {
          border: 1px solid @cell-color;

          width:  17px;
          height: 17px;

          margin: 1px;

          float: left;

          &.active {
            border: 1px solid #777;
          }
        }
      }
    }
  }

  > ul.pattern {
    //.border-radius(10px);

    background: black;
    overflow: hidden;
    list-style: none;

    width:  100%;
    height: 100%;

    padding: 5px;

    > li {
      .cell(@cell-width, @cell-height, @cell-color);

      cursor: pointer;

      -webkit-transition: box-shadow 0.1s ease-out;

      &.active {
        border: 2px solid #777;
      }

      &:hover {
        border: 2px solid white;
      }
    }
  }
}
