@container-width:   400px;
@container-height:  400px;

@cell-width:   100px;
@cell-height:  100px;
@cell-color:   #777;

.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}

.gradient(@start, @end) {
  background: @end;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, @start), color-stop(100%, @end));
  background: -moz-linear-gradient(top, @start 0%, @end 100%);
  background: linear-gradient(top, @start 0%, @end 100%);
}

.box-shadow(@x: 1px, @y: 1px, @blur: 10px, @color: rgba(0, 0, 0, 0.3)) {
  @arguments: @x @y @blur @color;
  -webkit-box-shadow: @arguments;
  -moz-box-shadow:    @arguments;
  box-shadow:         @arguments;
}

.inset-box-shadow(@x: 1px, @y: 1px, @blur: 10px, @color: rgba(0, 0, 0, 0.3)) {
  @arguments: @x @y @blur @color;
  -webkit-box-shadow: inset @arguments;
  -moz-box-shadow:    inset @arguments;
  box-shadow:         inset @arguments;
}

.center(@width, @height) {
  position: absolute;

  height: @height;
  width:  @width;

  top:  50%;
  left: 50%;

  margin-top:  @height / -2;
  margin-left: @width  / -2;
}

.cell(@width, @height, @color) {
  .border-radius(10px);

  border: 2px solid @color;

  width:  @width - 10 - 4;
  height: @height - 10 - 4;

  margin: 5px;

  float: left;
}

body {
  background: #1c1c1c url(/images/background.png);
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "purista-web-1", "purista-web-2", sans-serif;
  font-size: 20px;
}

#container {
  .center(@container-width, @container-height);
  .box-shadow;
}

ul.grid {
  .border-radius(10px);

  background: black;
  overflow: hidden;
  list-style: none;

  width:  100%;
  height: 100%;

  padding: 5px;

  li {
    .cell(@cell-width, @cell-height, @cell-color);

    cursor: pointer;

    -webkit-transition: box-shadow 0.1s ease-out;

    &.active {
      .inset-box-shadow(0, 0, 15px, white);
    }

    &.selected {
      @color: #f78e27;
      .gradient(lighten(@color, 5%), darken(@color, 5%));
    }

    &:hover {
      .cell(@cell-width, @cell-height, white);
    }
  }
}
